body {
    background-color: black;
}

h1{
    font-family: "Libre Baskerville" sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
}

img {
    border: 5px solid white;
    width: 100%;
}

div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    color:white;
}